body {
  background-color: #ebebeb;
}

/**
 * BUTTON GROUP
 */
.md-button.group {
  background-color: #dfdfdf;
}

.md-button.selected {
  background-color: #adadad;
  color: #ffffff;
}

/**
 * TOOLBAR
 */
md-toolbar {
  background-color: #000 !important;
}

/**
 * SIDEBAR
 */
.sidebar {
  background-color: #2f3f4d;
  color: #ffffff;
}

.sidebar-user-avatar {
  color: #ffffff !important;
}

.sidebar-item md-icon {
  color: #ffffff !important;
}

.sidebar-item a {
  color: #ffffff;
}

.sidebar-item > a.active md-icon,
.sidebar-item > a.active {
  background: #ffffff !important;
  color: #2f3f4d !important;
}

/**
 *
 */
.page-header {
  border-color: #2f3f4d;
}

/**
 * PORTFOLIO PAGE
 */
.page-body {
  background-color: #ffffff;
}
