body {
  background-color: #ebebeb;
}

/**
 * BUTTON GROUP
 */
.md-button.group {
  background-color: #dfdfdf;
}

.md-button.selected {
  background-color: #adadad;
  color: #ffffff;
}

/**
 * TOOLBAR
 */
md-toolbar {
  background-color: #000 !important;
}

/**
 * SIDEBAR
 */
.sidebar {
  background-color: #2f3f4d;
  color: #ffffff;
}

.sidebar-user-avatar {
  color: #ffffff !important;
}

.sidebar-item md-icon {
  color: #ffffff !important;
}

.sidebar-item a {
  color: #ffffff;
}

.sidebar-item > a.active md-icon,
.sidebar-item > a.active {
  background: #ffffff !important;
  color: #2f3f4d !important;
}

.badge {
  background-color: #ffffff;
  color: #2f3f4d;
}

.active > .badge {
  background-color: #2f3f4d;
  color: #ffffff;
}

/**
 *
 */
.page-header {
  border-color: #2f3f4d;
}

/**
 * PORTFOLIO PAGE
 */
.page-body {
  background-color: #ffffff;
}

/**
 * NEWS PAGE
 */
.article-sentiment-positive {
  background-color: #4bb60c !important;
}

.article-sentiment-neutral {
  background-color: #9e9e9e !important;
}

.article-sentiment-negative {
  background-color: #de6b6b !important;
}

.article-sentiment-tag {
  color: white;
}
